
#hscompilation files:
*.dyn_hi
*.dyn_o



#binaries:
examples/GUICompilation


# Ignore Emacs backup files

*~
\#*
.\#*
*~
\#*#
\.#Makefile
.[#]*[#]
*.bak

# Ignore Agda/Haskell/Java compiled files

MAlonzo/
*.agdai
*.hi
*.o
*.class
*.pyg

# Stephan tmp files
/examples/benchmarks/heapAsObjectAttempt11BinaryHeapBinaryTreeProgOnly.agda
/examples/benchmarks/heapAsObjectAttempt12BinaryHeapBinaryTreeBEFORE_CHANGES.agda

# Ignore profile files
/examples/heapAsObjectAttempt11BinaryHeapBinaryTree.prof
/examples/heapAsObjectAttempt11BinaryHeapBinaryTreeOLD.prof
/examples/benchmarks/tmp

# Ignore compiled executables
examples/GUIExampleX-Ray
examples/GUIExampleInfiniteBtnsAdvanced
/examples/GUIExampleInfiniteBtns
/examples/GUIFeaturesPart5extended
/src/Test
/examples/GUIFeaturesPart5
/examples/GUIExampleBankAccount
/examples/GUIFeaturesPart6
/examples/GUIExample
/examples/experiment9GUIstatedepExampleFeaturesPart5
/examples/experiment9GUIstatedepExampleFeaturesPart2Vers2
/examples/experiment9GUIstatedepExampleFeaturesPart3
/examples/experiment9GUIstatedepExampleFeaturesPart4
/examples/experiment8GUIstatedepExampleFeaturesVers4Part3
/examples/experiment8GUIstatedepExampleFeaturesVers4Part2
/examples/experiment8GUIstatedepExample
/examples/experiment7GUIexample
/examples/experiment7GUI
/examples/BinaryTreePointersWithNilAgda
/examples/heapAsObjectAttempt12BinaryHeapBinaryTree
/examples/heapAsObjectAttempt11BinaryHeapBinaryTree
/examples/correctnessLinkedListExampleProg
/examples/heapAsObjectAttempt10BinaryHeap
/examples/heapAsObjectAttempt8BinaryHeapString
/examples/heapAsObjectAttempt7BinaryHeapString
/examples/heapAsObjectAttempt7BinaryHeap
/src/heapAsObjectAttempt7
/src/heapAsObjectAttempt6String
/examples/BinaryTreeHsVersion
/examples/binaryTreeBasedOnNat
/examples/Bounce
/examples/SpaceShipAdvanced
/examples/SpaceShipExtendedExample
/examples/haskell/benchmarks/Main
/examples/libraryFastInt
/examples/usingHaskellNativeHeapLinkedList
/examples/usingHaskellNativeHeapString
/examples/writingOOStackProgram
/examples/GUIFeaturesMonadicExampleAdvancedPaperStephan

/examples/usingHaskellNativeHeap
/examples/99bottlesOfBeer
/examples/writingOOSimpleHeapProgram
/examples/StackStateDependent
/examples/writingOOSimpleCellProgram
/examples/CounterCell
/examples/DrawingProgram/IOExampleGraphicsDrawingProgram
/examples/GUI/GraphicProgram
/examples/GUI/Main
/examples/GUIFeaturesMonadicExampleAdvancedPaper
/examples/IOExampleConsole
/examples/IOExampleGraphicsDrawingProgram
/examples/IOExampleGraphicsMovingText
/examples/simpleCell
/examples/Sized/IOExampleConsole
/examples/Sized/IOExampleGraphicsDrawingProgram
/examples/Sized/IOExampleConsoleTrampoline
/examples/Sized/simpleCell
/examples/Sized/SimpleCell2
/examples/Sized/Parrot
/examples/Sized/GUI/Main
/examples/Sized/GUI/MiniMainNative
/paperJFP/GetLine
/paperJFP/IOExampleConsole
/paperJFP/ExampleDrawingProgram
/src/Console
/src/IOConsoleLib
/src/IOGeneralLib
/src/heapAsObjectAttempt5String
/src/DBBindingsFFI
/src/test1.db
/experiments/AbstractCompile


# Ignore stuff generated from or for pygments

/paperJFP/agdaStandard.egg-info/
/paperJFP/agdaStandard_uptodate
/paperJFP/build/
/paperJFP/dist/
/paperJFP/_minted-ooAgda/

# Ignore Agda backend productions

html/
/paperJFP/latex/*.tex
/paperJFP/latex-before-sed/

# Ignore files generated by sed

/paperJFP/BasicIO.tex
/paperJFP/CatNonTerm.tex
/paperJFP/CatTerm.tex
/paperJFP/Coalgebra.tex
/paperJFP/Colists.tex
/paperJFP/Collatz.tex
/paperJFP/ConsoleInterface.tex
/paperJFP/CounterCell.tex
/paperJFP/Console.tex
/paperJFP/ExampleDrawingProgram.tex
/paperJFP/IOExampleConsole.tex
/paperJFP/IOGraphicsLib.tex
/paperJFP/Object.tex
/paperJFP/Sized.tex
/paperJFP/SpaceShipAdvanced.tex
/paperJFP/SpaceShipCell.tex
/paperJFP/SpaceShipSimpleVar.tex
/paperJFP/StatefulObject.tex
/paperJFP/StackBisim.tex
/paperJFP/StateDependentIO.tex
/paperJFP/StatefulIOObject.tex
/paperJFP/StatefulObject.tex
/paperJFP/VariableList.tex
/paperJFP/VariableListForDispatchOnly.tex
/paperJFP/WxBindingsFFI.tex
/paperJFP/WxGraphicsLib.tex
/paperJFP/WxBindings.tex
/examples/GUIExampleSimulatedDb

# Ignore Andreas' bibliography databases

/paperJFP/all.bib
/paperJFP/medium.bib

# Ignore LaTeX generated files

*.log
*.dvi
*.ps
*.blg
*.bbl
*.aux
*_aux
*.toc
*.ptb
*.nav
*.out
*.snm
*.vrb
paper*.pdf
/paperJFP/ooAgda.pdf
/paperJFP/ooAgdax.pdf
/paperJFP/ooAgda.out

/paperICFP2017/ooAgda.pdf
/paperICFP2017/ooAgdax.pdf
/paperICFP2017/ooAgda.out


# Misc

*.rtf
*.backup

jfp2egui.pdf

cabal-sandbox/.cabal-sandbox/
cabal-sandbox/cabal.sandbox.config

/examples/GUI/Notes.txt
/examples/writingOOUsingIO
/examples/writingOOHeap

/examples/StateSizedIO/Bug-Agda-Master.agda
/paperJFP/BugExtLam.agda

# minted latex files

/paperJFP/minted.sty
/paperJFP/lineno.sty

# extended-java-lexer

/paperJFP/extended-java-lexer/build/
/paperJFP/extended-java-lexer/dist/
/paperJFP/extended-java-lexer/extjava.egg-info/
/paperJFP/extended-java-lexer-uptodate

# Andreas' misc ignores
/paperJFP/trash/
/paperJFP/collatz-odd.txt
/paperJFP/collatz-power2.txt
/paperJFP/collatz-top.txt
/paperJFP/collatzodd.hs

/paperJFP/ooAgda-from-eps.pdf
/paperJFP/ooAgday.pdf
/paperJFP/submission-confirmation.pdf


/experiments/integer/latex/
/experiments/sigma/latex/

# Ignores for paper FSCD
/paperFSCD/examples/benchmarks/
/paperFSCD/examples/heap/
/paperFSCD/latex-before-sed/examples/
/paperFSCD/latex-before-sed/src/NativeIO.tex
/paperFSCD/latex-before-sed/src/SizedIO/
/paperFSCD/latex-before-sed/src/StateSizedIO/
/paperFSCD/latex-before-sed/src/UnSizedIO/
/paperFSCD/latex-before-sed/src/Unit.tex
/paperFSCD/latex-before-sed/src/heap/
/paperFSCD/latex/
/paperFSCD/src/NativeIO.lagda
/paperFSCD/src/SizedIO/
/paperFSCD/src/StateSizedIO/
/paperFSCD/src/UnSizedIO/
/paperFSCD/src/Unit.lagda
/paperFSCD/src/NativeString.lagda
/paperFSCD/src/heap/
/paperFSCD/latex-before-sed/
/paperFSCD/src/NativePolyIO.lagda
/examples/SDLBindingsFFI
/paperFSCD/src/latex-before-sed/src/heap/
/examples/GUIModelAdvancedExample
/examples/GUIModelAdvancedExampleGender
/examples/GUIExampleInfiniteBtnsGUIdatatype
/examples/GUIModelAdvancedExampleExtended
/examples/BusinessProcessMedExVers7Compiled
/examples/BusinessProcessMedExVers4Compiled
/examples/BusinessProcessMedExVers9Compiled
/examples/BusinessProcessMedExVers10Compiled
/examples/GUIFeaturesPart6Medication
/examples/GUIFeaturesMonadicExample
/examples/GUIFeaturesPart6MedicationPaper
/examples/GUIFeaturesPart8Paper
/examples/GUIFeaturesPart8MedicationPaper
/examples/GUIFeaturesPart8CompiledVendingMachinePaper
/src/WxGraphicsLibLevel3
/src/WxGraphicsLibLevel3Generic
/slides/kyotoTalkSept2016/asetzer.pdf
/slides/kyotoTalkSept2016/interactiveProgramsAgda
/slides/kyotoTalkSept2016/interactiveProgramsAgdaUnsized
/slides/kyotoTalkSept2016/latex/*.tex
/slides/kyotoTalkSept2016/master.pdf
/slides/kyotoTalkSept2016/masterx.pdf
/slides/kyotoTalkSept2016/masterForPrinting.pdf
/slides/kyotoTalkSept2016/objectsInAgda
/slides/kyotoTalkSept2016/objectsInAgdaUnsized
/paperFSCD/fscd17.pdf
/paperFSCD/fscd17.vtc
/paperFSCD/fscd17x.pdf
